
-- 1. Find the role_id for super_admin
DO \$\$
DECLARE
    admin_role_id uuid;
    target_user_id uuid := 'YOUR_USER_ID_HERE'; -- REPLACE WITH YOUR AUTH.UID() FROM SUPABASE AUTH
BEGIN
    SELECT id INTO admin_role_id FROM roles WHERE name = 'super_admin';
    
    IF admin_role_id IS NOT NULL THEN
        UPDATE profiles SET role_id = admin_role_id WHERE id = target_user_id;
        RAISE NOTICE 'Assigned super_admin role to user %', target_user_id;
    ELSE
        RAISE EXCEPTION 'Role super_admin not found';
    END IF;
END \$\$;

